html,body{
    height: 100%;
    width: 100%;
}

#top-title{
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
}


/* nav text */
h1, .nav-pills>li>a {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
h3 {
  color:#2A9D8F;
  text-transform: uppercase;
}
/* nav background */
.nav-pills>li{
  background:#CB89BF;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #AA4B99
}

/* nav text */
.nav-pills>li>a{
  color: black;
}
/* outer containers */
.container-flex, .container-order,.flex-center-center{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  background-color: teal;
  justify-content: space-around;
  padding: 2rem;
}

/* inner containers */
.box {
  width:25%;
  background:#004D4D;
  padding: 1rem;
  border: 1rem dashed #E9C46A;
  color: white;
}

/*order */
.container-order > .box{
  border: 1rem dashed #E76F51;
  font-size: 4rem;
  font-weight: bold;
}
.blue{
   order: 3;
   background: #264653;
}
.breeze {
    order: 2;
    background:#2A9D8F;
}
.yellow{
  order: 1;
  background: #E9C46A;
}

/*Horizontal and vertical alignment*/
.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.flex-center-center > div{
  width: 33%;
  font-weight: bold;
  font-size: 5rem;
text-transform: uppercase;
  color: #264653;
}

/*responsive grig*/
.responsive > .box {
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  color: #264653;
border: 1rem solid #E9C46A;
}
.col-1{
	flex: 1;
}

.col-2{
	flex: 2;
}

@media (max-width: 800px){
	.responsive{
		flex-direction: column;
    align-items:center;
	}
  .col-1, .col-2 {
    width: 100%;
  }
}

/*sticky footer*/
.sticky-container{
  display:flex;
  flex-direction:column;
  height: 90vh;
  with: 100%;
  background: #F4A261;
}
.sticky-content{
  flex: 1 0 auto;
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  color: #264653;
  border: 1rem dashed #E76F51;
}
.sticky-footer{
  flex: 0 0 auto;
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  color: #264653;
background:  #2A9D8F;
}


/* carousel */
body{
  font-family: 'Lato', sans-serif;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px
}
.carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
    }
    .item:nth-child(1) {
  background-image:url('/images/massage1.jfif');
  /* background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
    }

    .item:nth-child(2) {
      background: url('/images/massage2.jfif');
  background-size: contain;
  /* background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(3) {
      background: url('/images/massage3.jfif');
  /* background-size: cover; */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    }
    .item:nth-child(4) {
      background: url('/images/lunaMoth.jfif');
  /* background-size: cover; */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    }


/* carousel mobile */
    @media (max-width: 1000px) {
      /* carousel */
      body{
        font-family: 'Lato', sans-serif;
      }
      .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
      }

      .carousel-fade .carousel-inner .active {
        opacity: 1;
      }

      .carousel-fade .carousel-inner .active.left,
      .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }

      .carousel-fade .carousel-inner .next.left,
      .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
      }

      .carousel-fade .carousel-control {
        z-index: 2;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
          .carousel-fade .carousel-inner > .item.next,
          .carousel-fade .carousel-inner > .item.active.right {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
          }
          .carousel-fade .carousel-inner > .item.prev,
          .carousel-fade .carousel-inner > .item.active.left {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
          }
          .carousel-fade .carousel-inner > .item.next.left,
          .carousel-fade .carousel-inner > .item.prev.right,
          .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
          }
      }
      .carousel-caption {
          text-shadow: 0 1px 4px rgba(0,0,0,.9);
        font-size:17px
      }
      .carousel-caption h3 {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
      }
          html,
          body,
          .carousel,
          .carousel-inner,
          .carousel-inner .item {
            height: 100%;
          }
          .item:nth-child(1) {
        background-image:url('/images/massage1.jfif');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        /* background-size: contain; */
          }

          .item:nth-child(2) {
            background: url('/images/massage2.jfif');
        /* background-size: contain; */
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
          }

          .item:nth-child(3) {
            background: url('/images/massage3.jfif');
        /* background-size: cover; */
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
          }
          .item:nth-child(4) {
            background: url('/images/lunaMoth.jfif');
        /* background-size: cover; */
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
          }
        }

    @media (min-width: 50px) and (max-width: 1000px) {
      /* carousel */
      body{
        font-family: 'Lato', sans-serif;
      }
      .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
      }

      .carousel-fade .carousel-inner .active {
        opacity: 1;
      }

      .carousel-fade .carousel-inner .active.left,
      .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }

      .carousel-fade .carousel-inner .next.left,
      .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
      }

      .carousel-fade .carousel-control {
        z-index: 2;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
          .carousel-fade .carousel-inner > .item.next,
          .carousel-fade .carousel-inner > .item.active.right {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
          }
          .carousel-fade .carousel-inner > .item.prev,
          .carousel-fade .carousel-inner > .item.active.left {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
          }
          .carousel-fade .carousel-inner > .item.next.left,
          .carousel-fade .carousel-inner > .item.prev.right,
          .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
          }
      }
      .carousel-caption {
          text-shadow: 0 1px 4px rgba(0,0,0,.9);
        font-size:17px
      }
      .carousel-caption h3 {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
      }
          html,
          body,
          .carousel,
          .carousel-inner,
          .carousel-inner .item {
            height: 100%;
          }
          .item:nth-child(1) {
        background-image:url('/images/massage1.jfif');
        /* background-size: cover; */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
          }

          .item:nth-child(2) {
            background: url('/images/massage2.jfif');
        background-size: contain;
        /* background-size: cover; */
        background-position: center center;
        background-repeat: no-repeat;
          }

          .item:nth-child(3) {
            background: url('/images/massage3.jfif');
        /* background-size: cover; */
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
          }
          .item:nth-child(4) {
            background: url('/images/lunaMoth.jfif');
        /* background-size: cover; */
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
          }
      }
